*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    color: $main-text-color;
    background-color: $white-color;
    font-family: $main-font, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    margin: 0;
    padding: 0;
}

a:active,
a:focus {
    outline: none;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: $main-text-color;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}